# Colab Assignment 01

### Importing the necessary Library:

In [1]:
import pandas as pd

### 01- Read CSV file into a DataFrame using Pandas:

In [2]:
employees_df = pd.read_csv("/Users/apple/Downloads/employees.csv")
print(employees_df.head())

  First Name  Gender    Salary  Bonus %             Team
0    Douglas    Male   97308.0    6.945        Marketing
1     Thomas    Male   61933.0    4.170           Others
2      Maria  Female  130590.0   11.858          Finance
3      Jerry    Male  138705.0    9.340          Finance
4      Larry    Male  101004.0    1.389  Client Services

### 02- Drop first column (First Name):

In [3]:
employees_df = employees_df.drop(0)
print(employees_df.head())

  First Name  Gender    Salary  Bonus %             Team
1     Thomas    Male   61933.0    4.170           Others
2      Maria  Female  130590.0   11.858          Finance
3      Jerry    Male  138705.0    9.340          Finance
4      Larry    Male  101004.0    1.389  Client Services
5     Dennis    Male  115163.0   10.125            Legal

### 03- Fill in missing values in (Salary, Bonus %) using the mean value of each column:

In [4]:
# Finding the number of missing values in each variable:
print(employees_df.isnull().sum())

# Fill Salary variable missing values with the variable's mean:
employees_df.Salary.fillna(employees_df.Salary.mean(), inplace=True)

# Fill Bonus % variable missing values with the variable's mean:
employees_df["Bonus %"].fillna(employees_df["Bonus %"].mean(), inplace=True)

# Printing out the dataframe after missing data imputation:
print(employees_df.isnull().sum())

First Name    0
Gender        0
Salary        7
Bonus %       5
Team          0
dtype: int64
First Name    0
Gender        0
Salary        0
Bonus %       0
Team          0
dtype: int64

### 04-a- Convert text values to numerical values in (Gender):

In [5]:
# Creating dictionary for Gender text values:
gender_dict = {"Male": 1, "Female": 2}

# Recode the Gender variable with 1 for Male and 2 for Female:
employees_recoded = employees_df.replace(gender_dict)

# Printing out the new dataframe's head:
print(employees_recoded.head())

  First Name  Gender    Salary  Bonus %             Team
1     Thomas       1   61933.0    4.170           Others
2      Maria       2  130590.0   11.858          Finance
3      Jerry       1  138705.0    9.340          Finance
4      Larry       1  101004.0    1.389  Client Services
5     Dennis       1  115163.0   10.125            Legal

### 04-b- Convert txt values to numerical values in (Team):

In [6]:
# Create a dictionary from Team variable's data:
# =============================================
# --> Extract the number of unique value's in Team's variable:
team_df = employees_df["Team"].value_counts()

# --> Extract the Team's dataframe index and transform it into a list:
team_list = list(team_df.index)

# --> create a numerical series matches the team_list:
team_rng = list(range(1,len(team_list)+1))

# --> create a dictionary from team_list and team_rng:
team_dict = dict(zip(team_list, team_rng))

# Print out the Team's dictionary:
print(team_dict)

{'Client Services': 1, 'Finance': 2, 'Legal': 3, 'Business Development': 4, 'Sales': 5, 'Product': 6, 'Marketing': 7, 'Human Resources': 8, 'Engineering': 9, 'Others': 10, 'Distribution': 11}

In [7]:
# Recode the Team variable's data:
employees_recoded = employees_recoded.replace(team_dict)

# Printing out the new dataframe's head:
print(employees_recoded.head())

  First Name  Gender    Salary  Bonus %  Team
1     Thomas       1   61933.0    4.170    10
2      Maria       2  130590.0   11.858     2
3      Jerry       1  138705.0    9.340     2
4      Larry       1  101004.0    1.389     1
5     Dennis       1  115163.0   10.125     3

In [8]:
employees_recoded = employees_recoded.replace(team_dict)
print(employees_recoded.head())

  First Name  Gender    Salary  Bonus %  Team
1     Thomas       1   61933.0    4.170    10
2      Maria       2  130590.0   11.858     2
3      Jerry       1  138705.0    9.340     2
4      Larry       1  101004.0    1.389     1
5     Dennis       1  115163.0   10.125     3

In [9]:
employees_recoded.to_csv(r"/Users/apple/Downloads/employees_recoded.csv", index = True)